/*& Universal CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  font-family: "ABC Diatype";
}
/* & navbar */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0 1rem 0;
  margin: 0 2rem;
}
.logo-div img {
  width: 230px;
}
.right-content-div {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.right-content-div a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}
.right-content-div i {
  font-size: 1.2rem;
}
.right-content-div i:hover {
  cursor: pointer;
}
/* & Navlinks */
.nav-links {
  display: flex;
  gap: 1.5rem;
  padding: 1rem 2rem;
}
.nav-links a:first-child {
  text-decoration: underline;
}
.nav-links a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #000000;
  font-weight: 600;
  letter-spacing: 1px;
  position: sticky;
  top: 0;
  left: 0;
}
.nav-links .last-two a {
  text-decoration: none;
}
.nav-links a:hover {
  text-decoration: underline;
}
